<link rel="stylesheet" type="text/css" href="/static/leaflet/leaflet.css" />
<script src="/static/mymandel.js"></script> 
<script type="text/javascript" src="/static/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/static/leaflet/leafletembed.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 





<div id="map" style="height: 100%;"></div>
<canvas style="visibility: hidden;" id="myCanvas" width="256" height="256"></canvas>



<script type="text/javascript">
        initmap();
</script>